<!--
    Copyright (C) 2020 Biza Pty Ltd
   
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 -->
<!DOCTYPE configuration>
<configuration>
    <appender name="CONSOLE"
        class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%t] [%c{1}]\(%F:%L\) %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>