<h1 class="Section-title">
    Fees & Discounts
    <p-button label="Create fee" [routerLink]="['create']"></p-button>
</h1>

<div class="Fees" *ngIf="fees">
    <div class="Fee" *ngFor="let fee of fees;">
        <div class="Fee-container">
            <div class="Fee-name">{{ getFeeDetail(fee, 'NAME') }}</div>
            <div class="Fee-detail">{{ getFeeDetail(fee, 'DETAIL') }}</div>
            <div class="Fee-info" *ngIf="getFeeDetail(fee, 'INFO') as info">{{ info }}</div>

            <h3 *ngIf="fee.cdrBanking.discounts && fee.cdrBanking.discounts.length" style="margin-top: 10px;">Discounts</h3>
            <div class="Discount" *ngFor="let discount of fee.cdrBanking.discounts; let i = index;">
                <div class="Discount-content">
                    <ng-container *ngFor="let detail of discountDetailsOptions;">
                        <ng-container *ngIf="discount[detail.key]">
                            <div class="Discount-detailName">{{ detail.label }}</div>
                            <div class="Discount-detailValue" [ngSwitch]="detail.key">
                                <ng-container *ngSwitchCase="'discountType'">{{ getDiscountType(discount[detail.key]) }}</ng-container>
                                <ng-container *ngSwitchDefault>{{ discount[detail.key] }}</ng-container>
                            </div>
                        </ng-container>
                    </ng-container>

                    <h3 *ngIf="discount.eligibility != null && discount.eligibility.length" style="width: 100%;">Eligibilitys</h3>

                    <ng-container *ngFor="let eligibility of discount.eligibility;">
                        <div class="Discount-detailName">Type</div>
                        <div class="Discount-detailValue">{{ getDiscountEligibilityType(eligibility.discountEligibilityType) }}</div>

                        <div class="Discount-detailName">Additional value</div>
                        <div class="Discount-detailValue">{{ eligibility.additionalValue }}</div>

                        <div class="Discount-detailName">Additional info</div>
                        <div class="Discount-detailValue">{{ eligibility.additionalInfo }}</div>

                        <div class="Discount-detailName" style="margin-bottom: 20px;">Additional info URI</div>
                        <div class="Discount-detailValue" style="margin-bottom: 20px;">{{ eligibility.additionalInfoUri }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="Fee-actions">
            <p-button [routerLink]="[fee.id, 'edit']" label="Edit"></p-button>
            <p-button (click)="removeFee(fee)" label="Remove"></p-button>
        </div>
    </div>
</div>

<p *ngIf="feesEmpty()">No Fees and Discounts Available</p>
