.DS_Store
docker-compose/local-dr.env
docker-compose/licenses/*.lic
*.subst_*
*.bak
*backup*
dev/binaries/*.zip
dev/temp
scripts/postman/cert
scripts/postman/cert/*
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/target
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/target/*
k8/02-completeinstall/*devops
k8/02-completeinstall/devops
scripts/ping-bulkconfigtools/out
scripts/ping-bulkconfigtools/out/*
server_profiles/deepthought/common-h2-database/localdb
server_profiles/deepthought/common-h2-database/localdb/*
server_profiles/pingaccess/instance/data/start-up-deployer/data.json
server_profiles/pingaccess/instance/data/data.json
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.classpath
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.project
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.settings
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.settings/*
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/in/pa-export.json
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/in/out-pa-bulk-config.json
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/in/out-pa-env.properties
server_profiles/datarecipient/internal/config/client.csr
server_profiles/datarecipient/internal/config/client.key
server_profiles/datarecipient/internal/config/csrresponse.p7b
server_profiles/datarecipient/internal/config/csrresponse.pem
server_profiles/datarecipient/internal/config/network.p12
server_profiles/datarecipient/internal/config/public.cer
server_profiles/datarecipient/internal/config/aspsp.pingbank.properties
server_profiles/datarecipient/internal/config/config
server_profiles/pingaccess/instance/conf/pingaccess.lic
server_profiles/pingfederate/instance/server/default/conf/pingfederate.lic
