.DS_Store
docker-compose/cdr.env
docker-compose/local-dr.env
*.subst_*
*.bak
*backup*
scripts/postman/cert
scripts/postman/cert/*
k8/02-completeinstall/devops
scripts/ping-bulkconfigtools/out
scripts/ping-bulkconfigtools/out/*
server_profiles/deepthought/common-h2-database/localdb
server_profiles/deepthought/common-h2-database/localdb/*
server_profiles/pingaccess/instance/data/start-up-deployer/data.json
server_profiles/pingaccess/instance/data/data.json
