.DS_Store
docker-compose/cdr.env
docker-compose/local-dr.env
*.subst_*
*.bak
*backup*
scripts/postman/cert
scripts/postman/cert/*
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/target
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/target/*
k8/02-completeinstall/devops
scripts/ping-bulkconfigtools/out
scripts/ping-bulkconfigtools/out/*
server_profiles/deepthought/common-h2-database/localdb
server_profiles/deepthought/common-h2-database/localdb/*
server_profiles/pingaccess/instance/data/start-up-deployer/data.json
server_profiles/pingaccess/instance/data/data.json
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.classpath
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.project
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.settings
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/.settings/*
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/in/out-pa-bulk-config.json
scripts/ping-bulkconfigtools/ping-bulkexport-tools-project/in/out-pa-env.properties
