
.Header {

    $rightSideWidth: 200px;

    display: flex;
    margin-bottom: 14px;
    //padding: 7px;

    &-breadcrumb {
        width: calc(100% - #{$rightSideWidth});
    }

    &-burger {
        display: none;
        padding: 5px;
        font-size: 32px;
        width: calc(100% - #{$rightSideWidth});
    }

    &-rightSide {
        display: flex;
        justify-content: flex-end;
        padding: 1em 0;
        width: $rightSideWidth;

        // TODO
        > div {
            margin-left: 18px;
        }
    }

    @media (max-width: 425px) {
        &-breadcrumb {
            display: none !important;
        }

        &-burger {
            display: block;
        }
    }

}

.Breadcrumb {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 0;

    &-item {
        color: #051228;
        margin: 0 10px;

        a {
            color: #051228;

            &:hover {
                color: #26C6DA;
                text-decoration: underline;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.Search,
.Notifications {
    .material-icons {
        font-size: 28px;
    }
}

.Profile {
    &-avatar {
        $size: 26px;

        height: $size;
        width: $size;
    }
}

.Logout {
    color: #051228;
    font-size: 16px;
    font-weight: bold;
}

::ng-deep .material-icons {
    &.account_circle:after { content: 'account_circle'; }
    &.cancel:after { content: 'cancel'; }
}
