$primaryColor:#AFB42B;
$primaryDarkColor:#827717;
$primaryLightColor:#CDDC39;
$primaryTextColor:#ffffff;
$accentColor:#607D8B;
$accentDarkColor: #455A64;
$accentLightColor: #90A4AE;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
