$primaryColor:#FFB300;
$primaryDarkColor:#FF8F00;
$primaryLightColor:#FFCA28;
$primaryTextColor:#212121;
$accentColor:#E91E63;
$accentDarkColor: #C2185B;
$accentLightColor: #F06292;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
