$primaryColor:#E91E63;
$primaryDarkColor:#C2185B;
$primaryLightColor:#F06292;
$primaryTextColor:#ffffff;
$accentColor:#FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFD54F;
$accentTextColor: #212121;

@import '../sass/theme/_theme';
