$primaryColor:#8E24AA;
$primaryDarkColor:#6A1B9A;
$primaryLightColor:#AB47BC;
$primaryTextColor:#ffffff;
$accentColor:#E91E63;
$accentDarkColor: #C2185B;
$accentLightColor: #F06292;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
