$primaryColor:#FBC02D;
$primaryDarkColor:#F57F17;
$primaryLightColor:#FFEB3B;
$primaryTextColor:#ffffff;
$accentColor:#009688;
$accentDarkColor: #00796B;
$accentLightColor: #4DB6AC;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
