$primaryColor:#F4511E;
$primaryDarkColor:#BF360C;
$primaryLightColor:#FF7043;
$primaryTextColor:#ffffff;
$accentColor:#00BCD4;
$accentDarkColor: #0097A7;
$accentLightColor: #4DD0E1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
