$primaryColor:#03A9F4;
$primaryDarkColor:#0288D1;
$primaryLightColor:#4FC3F7;
$primaryTextColor:#ffffff;
$accentColor:#607D8B;
$accentDarkColor: #455A64;
$accentLightColor: #90A4AE;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
