$primaryColor:#757575;
$primaryDarkColor:#424242;
$primaryLightColor:#BDBDBD;
$primaryTextColor:#ffffff;
$accentColor:#3F51B5;
$accentDarkColor: #303F9F;
$accentLightColor: #7986CB;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
