$primaryColor:#4CAF50;
$primaryDarkColor:#388E3C;
$primaryLightColor:#81C784;
$primaryTextColor:#ffffff;
$accentColor:#795548;
$accentDarkColor: #5D4037;
$accentLightColor: #A1887F;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
