$primaryColor:#009688;
$primaryDarkColor:#00796B;
$primaryLightColor:#4DB6AC;
$primaryTextColor:#ffffff;
$accentColor:#F44336;
$accentDarkColor: #E57373;
$accentLightColor: #D32F2F;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
