$primaryColor:#673AB7;
$primaryDarkColor:#512DA8;
$primaryLightColor:#9575CD;
$primaryTextColor:#ffffff;
$accentColor:#FF9800;
$accentDarkColor: #F57C00;
$accentLightColor: #FFB74D;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
