$primaryColor:#607D8B;
$primaryDarkColor:#455A64;
$primaryLightColor:#90A4AE;
$primaryTextColor:#ffffff;
$accentColor:#7CB342;
$accentDarkColor: #9CCC65;
$accentLightColor: #9CCC65;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
