$primaryColor:#1E88E5;
$primaryDarkColor:#1565C0;
$primaryLightColor:#42A5F5;
$primaryTextColor:#ffffff;
$accentColor:#FFB300;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFCA28;
$accentTextColor: #212121;

@import '../sass/theme/_theme';
