$primaryColor:#8BC34A;
$primaryDarkColor:#689F38;
$primaryLightColor:#AED581;
$primaryTextColor:#ffffff;
$accentColor:#673AB7;
$accentDarkColor: #512DA8;
$accentLightColor: #9575CD;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
