$primaryColor:#FB8C00;
$primaryDarkColor:#EF6C00;
$primaryLightColor:#FFA726;
$primaryTextColor:#ffffff;
$accentColor:#3F51B5;
$accentDarkColor: #303F9F;
$accentLightColor: #7986CB;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
