$primaryColor:#00BCD4;
$primaryDarkColor:#0097A7;
$primaryLightColor:#4DD0E1;
$primaryTextColor:#ffffff;
$accentColor:#FFB300;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFCA28;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
