$primaryColor:#795548;
$primaryDarkColor:#5D4037;
$primaryLightColor:#A1887F;
$primaryTextColor:#ffffff;
$accentColor:#00BCD4;
$accentDarkColor: #0097A7;
$accentLightColor: #4DD0E1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
