<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/login/logo-sapphire-color.png">
        </div>
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h1>SAPPHIRE NETWORK</h1>
                    <h2>Welcome, please use the form to sign-in</h2>
                </div>
                <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pInputText>
                            <label>Username</label>
                        </span>
                </div>
                <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" pInputText>
                            <label>Password</label>
                        </span>
                </div>
                <div class="ui-g-6">
                    <a href="#">Forget Password?</a>
                </div>
                <div class="ui-g-6" style="text-align: right">
                    <button pButton type="button" label="NEXT" style="width: 100%"></button>
                </div>
            </div>
        </div>
    </div>
</div>
