<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <script type="text/javascript">
                function storeAndNavigate() {

                        #set($resumePathMethodName = $resumePath + "-method");
                        #set($resumePathPostParamName = $resumePath + "-postparams");
                        #set($resumePathADRName = $resumePath + "-adrname");

                        sessionStorage.setItem('$resumePath', '$originalRequestUri');
                        sessionStorage.setItem('$resumePathMethodName', '$method');
                        sessionStorage.setItem('$resumePathADRName', '$adr');

                        #if($method && $method.equalsIgnoreCase("POST"))
                                sessionStorage.setItem('$resumePathPostParamName', '$postParameters');
                        #end

                        window.location = '$resumePath?CONTINUE=TRUE';
                }
  </script>
</head>
<body onLoad="storeAndNavigate()">
</body>
</html>
