
h2 {
    margin-top: 0;
}

.Filters {
    text-align: right;

    &-category {
        display: inline-block;
        margin-right: 10px;
        text-align: left;
        width: 220px;
    }
}

.Product {
    &-base {
        width: 50%;

        h3 {
            margin: 10px 0;
        }
    }

    &-category {

    }

    &-actions {
        text-align: right;
    }

}
