<div class="p-grid">
    <div class="p-col-6">
        <h2>Products</h2>
    </div>

    <div class="p-col-6 Filters">
        <div class="Filters-category">
            <cdr-form-control
                [control]="filters.category"
                [showLabel]="false"
            ></cdr-form-control>
        </div>

        <p-button
            label="Create product"
            (click)="createProduct()"
        ></p-button>
    </div>
</div>

<p-table [value]="products" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th class="Product-base">Product</th>
            <th class="Product-category">Category</th>
            <th class="Product-actions"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
        <tr>
            <td class="Product-base">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
            </td>
            <td class="Product-category">{{ getProductCategory(product.cdrBanking.productCategory) }}</td>
            <td class="Product-actions">
                <p-button
                    label="View"
                    pTooltip="View product detail"
                    [routerLink]="['/brands', this.brandId, 'products', product.id]"
                ></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [colSpan]="4" style="text-align: center;">Nothing to show</td>
        </tr>
    </ng-template>
</p-table>
