
h2 {
    color: #051228;
    margin-top: 0;
}

.BundleContainer {
    $sidebarWidth: 325px;

    display: flex;

    &-sidebar {
        background: #eff1f3;
        border-radius: 10px;
        padding: 20px;
        height: fit-content;
        width: $sidebarWidth;
    }

    &-content {
        padding-left: 40px;
        width: calc(100% - #{$sidebarWidth});

        h2 > p-button {
            float: right;
        }
    }

}

.Detail {
    display: flex;
    margin-bottom: 15px;

    $labelWidth: 20%;
    $tooltipWidth: 20px;
    $valueWidth: calc(100% - #{$labelWidth} - #{$tooltipWidth});

    &-label {
        color: #051228;
        font-size: 16px;
        font-weight: bold;
        width: $labelWidth;
    }

    &-value {
        font-size: 16px;
        width: $valueWidth;

        > i {
            float: right;
            font-weight: normal;
            text-transform: none;
        }
    }

    &-tooltip {
        width: $tooltipWidth;
    }

}

.Bundle {

    &-name {
        text-align: center;
    }

    &-description,
    &-additionalInfo {
        h4 {
            margin-bottom: 10px;
        }
    }

    &-image {
        display: block;
        margin: auto;
        width: 50%;
    }

}

.BundleProducts {
    &-name {
        font-weight: bold;
        width: 200px;
    }

    &-description {
        width: 50%;
    }

    &-actions {
        text-align: right;
        white-space: nowrap;

        p-button {
            margin-left: 10px;
        }
    }
}

.SidebarMenu {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    &-item {
        $itemSelector: &;

        border-radius: 5px;

        a {
            color: #051228;
            display: block;
            font-size: 16px;
            font-weight: bold;
            padding: 15px 10px;
        }

        &:hover,
        &--active {
            background: #051228;

            a {
                color: white;
                padding-left: 15px;
            }
        }

        &--removeLink {
            a {
                color: red;
            }

            &:hover,
            #{$itemSelector + '--active'} {
                background: red;
            }
        }
    }

}
