<h2>
    Features
    <p-button
        label="Create feature"
        (click)="createFeature()"
    ></p-button>
</h2>

<p-accordion (onOpen)="onTabOpen($event)">
    <p-accordionTab *ngFor="let featureGroup of (features$ | async | keyvalue); let i = index;"
                    [selected]="activeTabIndex === i"
                    [header]="getFeatureCategoryName(featureGroup.key)"
    >
        <div class="Feature" *ngFor="let feature of featureGroup.value">
            <h4 class="Feature-label">{{ getFeatureValue(feature) }}</h4>
            <p class="Feature-value" *ngIf="feature.cdrBanking.additionalInfo as value">{{ value }}</p>

            <a *ngIf="feature.cdrBanking.additionalInfoUri as href"
               [href]="href"
               target="_blank"
               pButton
               label="More Information"
            ></a>

            <div class="Feature-actions">
                <a void (click)="editFeature(feature)">Edit</a>
                <a void (click)="removeFeature(feature)">Remove</a>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>

<p *ngIf="featuresEmpty()">No Features Specified</p>
