# The default name for this file is cdr.env

SERVER_PROFILE_URL=https://github.com/pingidentity/pingidentity-cdr-sandbox.git
SERVER_PROFILE_BRANCH=master
BASE_HOSTNAME=data-holder.local
OPERATIONAL_MODE=STANDALONE
USER_BASE_DN=dc=data-holder,dc=com
BRAND1_BGCOLOR=rgb(50, 115, 220)
BRAND2_BGCOLOR=#373C41
DOLLAR=$
PF_AUD=https://data-holder
PF_ISS=cdr-register
PING_IDENTITY_PASSWORD=2FederateM0re

CDR_REGISTER-pki-base-url=http://cdrregister:8084
CDR_REGISTER-ca-keystore-commonname=cdr-register.local
CDR_REGISTER-server-allowed-origins=https://mockregister.data-holder.local

SOFTWARE_STATEMENT_ACCC_JWKS_ENDPOINT=http://cdrregister:8084/registration/JWKS
SOFTWARE_STATEMENT_ACCC_ISSUER=cdr-register
SOFTWARE_STATEMENT_BANK_AUDIENCE=https://data-holder
PF_BASE_HOST=sso.data-holder.local
PF_BASE_PORT=443
DA_CLIENTID=admin_delegator
BASE_URL=http://dr.data-recipient.local:8080

CDR_REGISTER_BASE_URL=http://cdrregister:8084

DR_CLIENT-authorization_endpoint=https://sso.data-holder.local/as/authorization.oauth2
DR_CLIENT-ss_redirect_uri=http://dr.data-recipient.local:8080/*

CONSENT_APP_server_baseurl=https://consent.data-holder.local
CONSENT_APP_account_retriever_configuration={ "baseUrl": "http://deepthought-admin-service:8080/dio-au", "client-id": "deepthought-admin-service", "client-secret": "2FederateM0re", "scopes": "DEEPTHOUGHT:ADMIN:GRANT:WRITE DEEPTHOUGHT:ADMIN:CUSTOMER:READ DEEPTHOUGHT:ADMIN:CUSTOMER:WRITE DEEPTHOUGHT:ADMIN:BANK_ACCOUNT:READ DEEPTHOUGHT:ADMIN:BANK_ACCOUNT:WRITE", "brand-id": "abaaef28-e212-4532-8223-c875e80692ac", "ignore-ssl": true }
CONSENT_APP_external_consent_configuration={ "baseUrl": "http://deepthought-admin-service:8080/dio-au", "client-id": "deepthought-admin-service", "client-secret": "2FederateM0re", "scopes": "DEEPTHOUGHT:ADMIN:GRANT:WRITE DEEPTHOUGHT:ADMIN:CUSTOMER:READ DEEPTHOUGHT:ADMIN:CUSTOMER:WRITE DEEPTHOUGHT:ADMIN:BANK_ACCOUNT:READ DEEPTHOUGHT:ADMIN:BANK_ACCOUNT:WRITE", "brand-id": "abaaef28-e212-4532-8223-c875e80692ac", "ignore-ssl": true }
        
CONSENT_APP_pf_baseurl=https://sso.data-holder.local
CONSENT_APP_pf_baseurl_backend=https://pingfederate:9031
      
CONSENT_APP_pf_oauth_client_mgt_username=Administrator
CONSENT_APP_pf_oauth_client_mgt_password=2FederateM0re
    
CONSENT_APP_agentless_username=consentappuser
CONSENT_APP_agentless_password=2FederateM0re

CONSENT_BASEURL=https://consent.data-holder.local


