<div *ngIf="!!product && !!brand" class="ProductContainer">
    <div class="ProductContainer-sidebar">

        <h2 class="Product-name">{{ product.name }}</h2>

        <ul class="SidebarMenu">
            <li *ngFor="let item of sidebarMenu; let i = index; trackBy i;"
                class="SidebarMenu-item"
                routerLinkActive="SidebarMenu-item--active"
                [routerLinkActiveOptions]="{exact: true}"
                [class.SidebarMenu-item--removeLink]="item.routerLink === 'remove'"
                [ngSwitch]="item.routerLink"
            >
                <hr *ngSwitchCase="'hr'">
                <a *ngSwitchCase="'remove'" void (click)="onRemoveProduct()">{{ item.label }}</a>
                <a *ngSwitchCase="'edit'"   void (click)="onEditProduct()">{{ item.label }}</a>

                <a *ngSwitchDefault
                   [routerLink]="['/brands', brand.id, 'products', product.id, item.routerLink].slice(0, item.routerLink === '' ? 4 : 5)"
                >{{ item.label }}</a>
            </li>
        </ul>
    </div>
    <div class="ProductContainer-content">

        <router-outlet (activate)="onOutletActivate($event)"></router-outlet>

    </div>
</div>
