.layout-menu-wall {
    $menuBgImage:'wall-menu.jpg';
    $menuitemTextColor:#ffffff;
    $menuitemIconColor:#ffffff;
    $menuitemHoverBgColor:rgba(255,255,255,0.32);
    $menuitemHoverTextColor:#ffffff;
    $menuitemHoverIconColor:#ffffff;
    $menuitemActiveTextColor:#00BCD4;
    $menuitemActiveIconColor:#00BCD4;
    $verticalActiveRootMenuitemBgColor:#00BCD4; 
    $verticalActiveRootMenuitemTextColor:#ffffff;   
    $verticalActiveRootMenuitemIconColor:#ffffff;
    $verticalSubmenuBgColor:rgba(0,0,0,0.32);

    @import '../_menu_theme';
}