.layout-topbar-condo {
    $topbarBgImage:'condo-topbar.jpg';
    $topbarSearchInputColor:#ADB7BA;
    $topbarSearchFocusedInputColor:#ffffff;
    $topbarUserIconHoverBorderColor:#ffffff;
    $topbarSeparatorColor:#ffffff;

    //vertical menubutton
    $menuButtonBgColor:#fafafa;
    $menuButtonIconColor:#0F2327;
    $menuButtonHoverBgColor:#e0e0e0;
    $menuButtonHoverIconColor:#0F2327;
    $menuButtonActiveBgColor:rgba(143,141,140,.6);
    $menuButtonActiveIconColor:#ffffff;

    //horizontal menu
    $horizontalMenuitemTextColor:#ffffff;
    $horizontalMenuitemIconColor:#ffffff;
    $horizontalMenuitemActiveBorderColor:#ffffff;
    $horizontalMenuitemHoverBorderColor:#ADB7BA;

    //breadcrumb
    $breadcrumbIconColor:#ffffff;
    $breadcrumbTextColor:#ffffff;
    $breadcrumbLinkColor:#29B6F6;

    @import '../_topbar_theme';
}