.layout-topbar-jet {
    $topbarBgImage:'jet-topbar.jpg';
    $topbarSearchInputColor:#CCCFD6;
    $topbarSearchFocusedInputColor:#ffffff;
    $topbarUserIconHoverBorderColor:#ffffff;
    $topbarSeparatorColor:#ffffff;

    //vertical menubutton
    $menuButtonBgColor:#fafafa;
    $menuButtonIconColor:#194958;
    $menuButtonHoverBgColor:#e0e0e0;
    $menuButtonHoverIconColor:#194958;
    $menuButtonActiveBgColor:rgba(255,255,255,0.3);
    $menuButtonActiveIconColor:#ffffff;

    //horizontal menu
    $horizontalMenuitemTextColor:#ffffff;
    $horizontalMenuitemIconColor:#ffffff;
    $horizontalMenuitemActiveBorderColor:#ffffff;
    $horizontalMenuitemHoverBorderColor:#CCCFD6;

    //breadcrumb
    $breadcrumbIconColor:#ffffff;
    $breadcrumbTextColor:#ffffff;
    $breadcrumbLinkColor:#ffc107;

    @import '../_topbar_theme';
}