.layout-topbar-hazy {
    $topbarBgImage:'hazy-topbar.jpg';
    $topbarSearchInputColor:#A6A6A6;
    $topbarSearchFocusedInputColor:#ffffff;
    $topbarUserIconHoverBorderColor:#ffffff;
    $topbarSeparatorColor:#ffffff;

    //vertical menubutton
    $menuButtonBgColor:#fafafa;
    $menuButtonIconColor:#1C2225;
    $menuButtonHoverBgColor:#e0e0e0;
    $menuButtonHoverIconColor:#1C2225;
    $menuButtonActiveBgColor:rgba(255,255,255,.3);
    $menuButtonActiveIconColor:#ffffff;

    //horizontal menu
    $horizontalMenuitemTextColor:#ffffff;
    $horizontalMenuitemIconColor:#ffffff;
    $horizontalMenuitemActiveBorderColor:#ffffff;
    $horizontalMenuitemHoverBorderColor:#A6A6A6;

    //breadcrumb
    $breadcrumbIconColor:#ffffff;
    $breadcrumbTextColor:#ffffff;
    $breadcrumbLinkColor:#00BCD4;

    @import '../_topbar_theme';
}