
<div class="RateCreateEdit">
    <div class="RateCreateEdit-base">
        <h2>Details</h2>

        <cdr-form-control
            [className]="'rateForm'"
            [control]="rateForm"
            [showErrors]="rateForm.submitted"
        ></cdr-form-control>
    </div>

    <div class="RateCreateEdit-tiers">
        <h2>Tiers</h2>

        <div class="TierFormContainer"
             *ngFor="let tierForm of tiersForm.controls; let i = index; trackBy: trackByFn;"
        >
            <p-button class="TierFormContainer-removeBtn" label="Remove" (click)="removeTier(i)"></p-button>

            <cdr-form-control
                [className]="'tierForm'"
                [control]="tierForm"
                [showErrors]="rateForm.submitted"
            ></cdr-form-control>
        </div>

        <p-button
            label="Add tier"
            (click)="addTier()"
        ></p-button>
    </div>
</div>

<div style="text-align: right;">
    <button pButton type="button" label="Save" (click)="onSave()" [disabled]="rateForm.invalid"></button>&nbsp;
    <button pButton type="button" label="Cancel" (click)="onCancel()"></button>
</div>
