

.RateCreateEdit {
    display: flex;

    &-base,
    &-tiers {
        width: 50%;

        h2 {
            margin-left: 12px;
            margin-top: 0;

            p-button {
                float: right;
            }
        }
    }

    &-tiers {}

    ::ng-deep {
        .calculationFrequency,
        .applicationFrequency {
            width: 50% !important;
        }

        .minimumValue,
        .maximumValue {
            width: 50% !important;
        }

        .name,
        .unitOfMeasure {
            width: 50% !important;
        }
    }
}

.TierFormContainer {
    background: #f0f2f5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;

    &:hover {
        .TierFormContainer-removeBtn {
            display: block;
        }
    }

    &-removeBtn {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
