
<h1>{{ !feeId ? 'Create fee' : 'Edit fee' }}</h1>

<div class="Form">
    <div class="Form-fee">
        <cdr-form-control
            [className]="'feeForm'"
            [control]="feeForm"
            [showErrors]="feeForm.submitted"
        ></cdr-form-control>
    </div>

    <div class="Form-discounts">

        <div class="Discount" *ngFor="let discount of discounts; let i = index;">
            <div class="Discount-content">
                <p *ngIf="discountsErrors[i]" style="color: red; width: 100%;">{{ discountsErrors[i] }}</p>
                <ng-container *ngFor="let detail of discountDetailsOptions;">
                    <ng-container *ngIf="discount[detail.key]">
                        <div class="Discount-detailName">{{ detail.label }}</div>
                        <div class="Discount-detailValue" [ngSwitch]="detail.key">
                            <ng-container *ngSwitchCase="'discountType'">{{ getDiscountType(discount[detail.key]) }}</ng-container>
                            <ng-container *ngSwitchDefault>{{ discount[detail.key] }}</ng-container>
                        </div>
                    </ng-container>
                </ng-container>

                <h3 *ngIf="discount.eligibility != null && discount.eligibility.length" style="width: 100%;">Eligibilitys</h3>

                <ng-container *ngFor="let eligibility of discount.eligibility;">
                    <div class="Discount-detailName">Type</div>
                    <div class="Discount-detailValue">{{ getDiscountEligibilityType(eligibility.discountEligibilityType) }}</div>

                    <div class="Discount-detailName">Additional value</div>
                    <div class="Discount-detailValue">{{ eligibility.additionalValue }}</div>

                    <div class="Discount-detailName">Additional info</div>
                    <div class="Discount-detailValue">{{ eligibility.additionalInfo }}</div>

                    <div class="Discount-detailName" style="margin-bottom: 20px;">Additional info URI</div>
                    <div class="Discount-detailValue" style="margin-bottom: 20px;">{{ eligibility.additionalInfoUri }}</div>
                </ng-container>
            </div>
            <div class="Discount-actions">
                <p-button label="Edit" (click)="createEditDiscount(discount)"></p-button>
                <p-button label="Remove" (click)="removeDiscount(discount)"></p-button>
            </div>
        </div>

        <p-button label="Add discount" (click)="createEditDiscount()"></p-button>
    </div>
</div>

<div class="Actions">
    <p-button type="button" label="Save" (click)="onSave()"></p-button>
    <p-button type="button" label="Cancel" (click)="onCancel()"></p-button>
</div>
