h2  {
    margin-top: 0;

    p-button {
        float: right;
    }
}

.NotFixedRate {
    border-bottom: 1px solid #c9d0d6;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;

    &-name {
        font-weight: bold;
        width: 80%;
    }

    &-detail {}

    &-info {}

    &-actions {
        text-align: right;
        width: 20%;

        p-button {
            margin-left: 5px;
        }

        > a {
            font-weight: bold;
            margin-right: 10px;
        }
    }

    &-tiers {
        font-size: 14px;
    }

    &-detail,
    &-info,
    &-tiers {
        width: 100%;
    }
}
