html, body, header, .view {
    height: 100%;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

body.consent {
    background-image: url("../images/bank-bg.jpg");
    background-size: cover;
    background-position: center;
}

.remove-all-styles {
    all: revert;
  }

.container, .row, .col, div [class^="col-"] {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.navbar-brand img {
    height: 50px;
}

.second-logo {
    margin-left: 40px;
}

.head-background {
    background-image: url("../images/blank-skyline.jpg");
    background-size: cover;
    background-position-x: center;
    height: 800px;
}

.switch-paddle {
	float: right;
	
}


.callout.secondary {
    background-color: #f0f8ff;
 }

.opt-select input:checked + label, .consent-select:hover {
    background-color: #FFA500;
    border-color: #FFA500;
}


form {
    margin: 0;
}

a {
    color: #FFA500;
}

a:hover {
    color: #FDBF2D;
}

button {
    width: 120px;
}

button.main {
    background-color: #FFA500;
    border-color: #FFA500;
}

button.main:hover {
    background-color: #e67c00;
    border-color: #e67c00;
}

.card {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 0;
    border-radius: 0;
    min-width:600px;
}

.content .row {
    margin-top: 100px;
}

.content .row:last-child {
    margin-bottom: 100px;
}

.content img {
    height: 300px;
}

.vertical-center {
    min-height: 100%;

    display: flex;
    align-items: center;
}

form#consent img {
    height: 50px;
}

.consent-details {
    color: #666;
}

.consent-details .row {
    margin-top: 5px;
}

.consent-details .row .col:last-of-type{
    font-weight: 400;
}


.opt-select label, .consent-select {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    transition: all 0.5s ease-out 0s;
    margin-bottom:10px;
}


.opt-select {
    font-size: 10px;
}

.opt-select .name, .consent-select .name {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFA500;
}

.opt-select .capital {
    font-weight: 400;
    font-size: 18px;
}

.scope {
	background-color: #eee;
    border-color: #999;
    margin-bottom:10px;

}

.inactive {
    color: #b52433;
}



.modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#sca .modal-dialog {
    width: 400px;
}

#sca-img {
    margin: auto;
    width: 365px;
    height: 365px;
    background-image: url('../images/icon-iphone6.png');
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 130px;
    background-position-y: 20px;
}

#sca-img > div {
    display: none;
    text-align: center;
}

#sca-img > div > div:first-child {
    height: 290px;
}

#sca-img div > div {
    color: #FFF;
    font-size: 20px;
}

#sca-img img {
    margin-top: 100px;
    width: 100px;
}

#sca-img a {
    color: #FFF;
}

#sca-img a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sca-pending {
    background-color: #999 !important;
}

.sca-pending .sca-pending-ico {
    display: block !important;
}

.sca-timeout {
    background-color: #FDBF2D !important;
}

.sca-timeout .sca-timeout-ico {
    display: block !important;
}

.sca-denied {
    background-color: #D0484B !important;
}

.sca-denied .sca-denied-ico {
    display: block !important;
}

.sca-error {
    background-color: #D0484B !important;
}

.sca-error .sca-error-ico {
    display: block !important;
}

.sca-approved {
    background-color: #5FB760 !important;
}

.sca-approved .sca-approved-ico{
    display: block !important;
}

.site {
    min-height: 100%;
    padding-bottom: 239px;
}

.site-footer {
    margin-top: -239px;
}

footer.stylish-color-dark {
    background-color: #2c2c2c;
    color: #fff;
}

footer.stylish-color-dark a {
    color: #fff;
}

footer.stylish-color-dark a:hover {
    color: #9a1f3a;
    text-decoration: none;
}

